@charset "utf-8";
body{ margin:0; padding:0;font-family:"微软雅黑";font-size:12px;color:#000000;font-weight:500;}
a:link{ color:#000000; text-decoration:none;}
a:visited{ color:#000000; text-decoration:none;}
a:hover{color:#FF0000;text-decoration:none;}
a:active{ color:#FF0000; text-decoration:none;}
a{outline:none;}
div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,img,form ,input{ margin:0; padding:0; border:none;}

.clear:after{display:block; content:""; clear:both; line-height:1;}
.clearfix:after{display:block; content:""; clear:both; line-height:1;}
ul, li { margin:0; padding:0;}
.clear10{height:10px;width:100%;float:left;}
.clear20{height:20px;width:100%;float:left;}
.clear30{height:30px;width:100%;float:left;}
.clear40{height:40px;width:100%;float:left;}
.clear50{height:50px;width:100%;float:left;}

input, textarea {
outline: none;
outline-style: none;
outline-width: initial;
outline-color: initial;
}
:focus {
    outline: 0;
}
ul{list-style-type: none}

.backdrop{position:fixed;left:0;top:0;width:100%;height:100%;background:url(../images/page.jpg) no-repeat center center;z-index:-1;}
/**/
/*html样式转移*/

.flexslider .flex-direction-nav li a{display:block; width:60px; height:60px; position:absolute; top:45%; z-index:9999; overflow:hidden; cursor:pointer; -ms-transition:left 400ms, right 400ms; transition:left 400ms, right 400ms; -webkit-transition:left 400ms, right 400ms; -moz-transition:left 400ms, right 400ms; -o-transition:left 400ms, right 400ms;}
.flexslider .flex-direction-nav li a.flex-prev{left:50px; background:url(../images/sindex.png) -3px -144px no-repeat;display:none;}
.flexslider .flex-direction-nav li a.flex-next{right:50px; background:url(../images/sindex.png) -70px -144px no-repeat;display:none;}

.flexslider:hover .flex-direction-nav li a.flex-next{display:block;}
.flexslider:hover .flex-direction-nav li a.flex-prev{display:block;}

.nav_wrap{position:absolute;left:0;top:100px;width:100%;background:url(../images/shadow6.png) repeat;display:none;}
.nav_list{width:1140px;margin:0 auto;}
.nav_fix{float:left;width:100%;}
.nav_fix .nav_li{float:left;width:100%;position:relative;}
.nav_left{float:left;width:490px;padding:50px 0;}
.nav_left h3{color:#20b7f4;font-size:26px;font-weight:500;}
.nav_left p{color:#fff;line-height:20px;margin-top:16px;font-weight:500;font-size:12px;}
.nav_left a{display:block;width:100px;height:35px;line-height:35px;text-align:center;background:#20b7f4;color:#fff;font-size:13px;margin-top:50px;font-weight:500;}
.nav_right{position:absolute;right:0;bottom:50px;}
.nav_right ul{float:left;}
.nav1{width:257px;height:154px;}
.nav2{margin-left:40px;width:160px;margin-top:-6px;}
.nav2 li{float:left;height:32px;line-height:32px;width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis; color:#fff;}
.nav2 li a{color:#fff;font-size:14px;font-weight:500;}
/*头部导航*/
.top1{ width:100%; height:100px;background:#fff;min-width:1140px;}
.top{ width:100%; height:100px;background:url(../images/shadow6.png) repeat-x;position:fixed; top:0px; z-index:100000;}
.top_scroll{ width:100%; height:100px;background:#21b7f4; position:fixed; top:0px; z-index:100000;}
.topbox{ width:1140px; height:100px; margin:0 auto;}
.logo{ width:200px; height:100px;margin-top:24px}
.dh{ height:100px;}
.dh .dh-top{ padding-top:18px;}
.dh .dh-top li{ padding-left:22px; color:#f0f0f0; font-size:12px; font-family:Arial, Helvetica, sans-serif; margin-left:10px;background:url(../images/index3.png) -120px -56px no-repeat;line-height:21px;}
.dh .dh-top li span{float:left;text-align:right;}
.top1 .dh .dh-top li{color:#666;background:url(../images/dh3.png) no-repeat left 3px;}
.dh .dh-top li a{ color:#f0f0f0;} 
.dh .dh-top li a:hover{ color:#20b7f4;}
.dh-main{float:right;margin-right:-20px;}
.dh-main .nav_h2{float:left;padding-left:65px;height:60px;font-size: 1.5em;}
.dh-main .nav_h2 a.hover{ font-size:14px;  color:#f0f0f0; display:block;padding:0 20px;line-height:46px;font-weight:500;height:60px;}
.dh-main .nav_h2 a.hover:hover{ color:#20b7f4;}
.dh-main .nav_h2 a.cur{ color:#20b7f4;}
.top_scroll .dh-main .nav_h2 a.hover:hover{color:#f0f0f0;}
/*.top_scroll .nav_wrap{background:#21b7f4;}*/
.f1{ float:left;}
.f2{ float:right;}
.top1 .dh-main  .nav_h2 a.hover{color:#666;}
.top1 .dh-main  .nav_h2 a.hover:hover{ color:#20b7f4;}
.top1 .dh-main  .nav_h2 a.cur{ color:#20b7f4;}
/*banner*/
.flexslider {position:relative; height:800px; width:100%;min-width:1140px;z-index:1;overflow:hidden;}
.flexslider .slides {position:relative; z-index:1;}
.flexslider .slides li {height:800px;}
.flexslider .slides li a{display:block;line-height:100%;width:100%;height:100%;}

.flex-control-nav {width:100%; position:absolute; bottom:30px; left:0; text-align:center;z-index:10;}
.flex-control-nav li {display:inline-block; width:54px; height:3px; margin:0px 5px; *display:inline; zoom:1;}
.flex-control-nav li a {display:inline-block; width:54px; height:3px; line-height:400px; overflow:hidden; background:#fff; cursor:pointer;}
.flex-control-nav .flex-active {background:#FF0000;}

/*首页*/
.main-top{ width:100%; padding-top:85px;background:#fff;min-width:1140px;}
.main-topbox{ width:1140px; height:370px; margin:0 auto;text-align:center;}
.main-topbox h3{ font-size:38px; color:#333;  text-align:center; padding-bottom:25px; font-weight:400;width:100%;}
.main-topbox p{ text-align:center; line-height:30px; margin-bottom:50px;width:100%;}
.mp{width:100%;height:40px;float:left;}
.mp ul{float:left;width:300px;height:40px;margin-left:420px;}
.mp ul li{float:left;width:120px;margin:0 15px;height:40px;}
.mp ul .hover a{border:1px solid #00adef;background:#00adef;color:#fff;}
.mp ul li a{display:inline-table;width:118px;height:38px; text-align:center; line-height:38px;border:1px solid #8a8a8a;border-radius:20px; font-size:14px;background:#fff;color:#8a8a8a;font-family:"微软雅黑";float:left;font-weight:500;}

.hxyw{ width:100%;background:#fff;min-width:1140px;}
.hxywbox{ width:1140px; height:720px; margin:0 auto;overflow:hidden;}
.hxyw-top{ width:100%;border-bottom:1px solid #f3f3f3;  height:70px; margin-bottom:55px;}
.hxyw-top h2{ width:1140px; margin: 0 auto;text-align:center;  height:70px; position:relative ;font-weight:400; font-size:42px; color:#00adef; }
.hxyw-top h2 span{ display:block; width:128px; height:20px; font-size:12px; color:#ccc; font-family:Arial, Helvetica, sans-serif; background:#FFFFFF; position:absolute; left:510px; bottom:-12px;}
.hxywbox ul{width:100%;float:left;height:600px;margin-top:-10px;position:relative;}
.hxywbox ul li{margin-right:10px;margin-top:10px;overflow:hidden;}
.hxywbox ul li p{background:url(../images/shadow.png) no-repeat;position:absolute;left:0;top:0;z-index:1;}
.hxywbox ul li div{top: 0;left: 0;z-index: 11;position:absolute; width:100%;}
.hxywbox ul li div h2 { font-weight:normal;}
.hxywbox ul li div h3 { font-weight:normal; margin-bottom:30px;}
.hxywbox ul li div h3 i { font-style:normal; font-size:10px; display:inline-table; width:1px; margin:0 3px;}
.hxywbox ul li div span{display:block;text-align:left;}
.hxywbox ul li div span a { display: inline-table; float:left; width:auto; height:auto; margin-bottom:5px; font-size:12px; color:#fff; margin-right:8px; line-height:18px;}
.business-one{width:430px;height:290px;float:left;position:relative;}
.business-one p{width:430px;height:290px;}
.business-one img{width:430px;height:430px;position:absolute;left:0;top:-60px;}
.business-one a{width:430px;height:290px;}
.business-two{width:285px;height:290px;float:left;position:relative;}
.business-two p{width:285px;height:290px;}
.business-two img{width:290px;height:290px;position:absolute;left:-2px;top:0;}
.business-two a{width:285px;height:290px;}
.business-three{width:405px;height:440px;position:absolute;right:0;top:10px;}
.business-three p{width:405px;height:440px;}
.business-three img{width:440px;height:440px;position:absolute;left:-22px;top:0px;}
.business-three a{width:405px;height:440px;}
.business-four{width:430px;height:290px;float:left;position:relative;}
.business-four p{width:430px;height:290px;}
.business-four img{width:430px;height:430px;position:absolute;left:0;top:-60px;}
.business-four a{width:430px;height:290px;}
.business-fiv{width:285px;height:140px;float:left;position:relative;}
.business-fiv p{width:285px;height:140px;}
.business-fiv img{width:285px;height:285px;position:absolute;left:0px;top:-72px;}
.business-fiv a{width:285px;height:140px;}

.swhy{ width:100%; height:689px;min-width:1140px;}


.zbxw{ width:100%; height:865px;background:#fff;min-width:1140px;}
.zbxw_top{ width:100%; height:199px ; border-bottom:1px solid #f3f3f3; }
.zbxw_top h3{width:1140px; margin: 0 auto;text-align:center; padding-top:129px;  height:70px; position:relative ;font-weight:400; font-size:42px; color:#00adef; }
.zbxw_top h3 span{ display:block; width:128px; height:20px; font-size:12px; color:#ccc; font-family:Arial, Helvetica, sans-serif; background:#FFFFFF; position:absolute; left:510px; bottom:-12px;}
.zbxwbox{ width:1140px;height:600px;  margin:0 auto; padding-top:65px;}



.rollBox{width:100%;height:600px;position:relative;}
.rollBox .LeftBotton{position:absolute;width:23px;height:41px; background:url(../images/sindex.png) -148px -149px no-repeat;cursor:pointer;left:-80px;top:216px;}
.rollBox .RightBotton{position:absolute;width:23px;height:41px; background:url(../images/sindex.png) -197px -148px no-repeat;cursor:pointer;right:-80px;top:216px;}
.rollBox .Cont{height:473px;width:1140px;overflow:hidden;position:absolute;left:0;top:0;}
.rollBox .ScrCont{width:10000px;}
.rollBox .Cont .pic{display:inline; float: left;width:362px;height:473px;margin-right:26px;background:url(../images/zbxw_04.jpg) no-repeat left bottom;position:relative;}
.picImg{position:absolute;left:0;top:0;width:362px;height:238px;z-index:100;}
.pic_cont{position:absolute;left:0;top:238px;width:362px;height:235px;z-index:12;}
.pic_cont a{display:block;float:left;width:100%;height:235px;}
.b1{font-size:24px;color: #333;margin-top:35px;line-height:32px;padding:0 25px;display:block;}
.pic_cont a.hover .b1{color:#fff;}
.pic_cont a.hover .b2{color:#fff;}
.b2{font-size:12px;color: #999;margin-top:15px;line-height:20px;padding:0 25px;display:block;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:5;-webkit-box-orient:vertical; height:100px;}
.rollBox #List1,.rollBox #List2{float:left;}

.pic_sp{left:0;bottom:235px;width:362px;height:473px;position:absolute;z-index:10;}



.gld{width:100%;height:600px;min-width:1140px;}
.cgal{ width:100%; height:900px;background:#fff;min-width:1140px;}
.cgal-top{ width:100%; height:113px; border-bottom:1px solid #f3f3f3;}
.cgal-top h1{width:1140px; margin: 0 auto;text-align:center; padding-top:40px;  height:73px; position:relative ;font-weight:400; font-size:42px; color:#00adef; }
.cgal-top h1 span{ display:block; width:128px; height:20px; font-size:12px; color:#ccc; font-family:Arial, Helvetica, sans-serif; background:#FFFFFF; position:absolute; left:510px; bottom:-12px;}
.cgalbox{ width:1140px; height:785px; margin:0 auto;}
.cgalbox-top{ width:320px; height:30px; margin-top:24px; margin-left:422px;}
.cgalbox-top ul li{ width:138px; height:32px; margin-right:20px; float:left; cursor:pointer;text-align:center; line-height:32px; border:1px solid #8a8a8a;border-radius:15px; font-size:14px;  color:#999;}
.cgalbox-top ul li.hover{ background:#00adef; border:1px solid #00adef; color:#FFFFFF; }
.cgal-main {width:100%;height:592px;padding-top:40px;position:relative;overflow:hidden;}
.cgal-mainbox{height:592px; width:100%;}
/*.cgal-mainbox1{position:absolute;left:1140px;top:40px;width:1140px;height:732px;}*/
.cgal-mainbox1{height:592px; width:100%;}
.cgal_fix {position:relative;height:592px; width:100%;z-index:1;overflow:hidden;}
.cgal_fix .slides {position:relative;z-index:1;}
.cgal_fix .slides li{height:530px;width:1140px;float:left;}
.cgal_fix .flex-direction-nav li a{display: block;width:40px;height: 42px;position: absolute;bottom: 0;z-index: 3;overflow: hidden;cursor:pointer;}

.cgal_fix .flex-direction-nav li a.flex-prev{left:530px;width:41px;background:url(../images/sindex.png) -93px -102px no-repeat;}
.cgal_fix .flex-direction-nav li a.flex-next{right:530px; background:url(../images/sindex.png) -135px -103px no-repeat;}
.cgal_fix1 {position:relative;height:592px; width:100%;z-index:1;overflow:hidden;}
.cgal_fix1 .slides {position:relative;z-index:1;}
.cgal_fix1 .slides li{height:530px;width:1140px;}
.cgal_fix1 .f-direction-nav li a{display: block;width:40px;height: 42px;position: absolute;bottom: 0;z-index: 3;overflow: hidden;cursor:pointer;}
.cgal_fix1 .f-direction-nav li a.f-prev{left:530px;width:41px;background:url(../images/sindex.png) -93px -102px no-repeat;}
.cgal_fix1 .f-direction-nav li a.f-next{right:530px; background:url(../images/sindex.png) -135px -103px no-repeat;}


.cgal_list{width:1170px;height:530px;float:left;}
.cgal_tp{float:left;width:358px;height:235px;border:1px solid #f4f4f4;margin-right:30px;margin-top:30px;overflow:hidden;position:relative;cursor:pointer;}
.cgal_tp a{position:absolute;left:0;top:0;width:358px;height:235px;display:none;background:url(../images/shadow4.png) repeat;z-index:100;}
.cgal_tp a h4{position:absolute;left:-88px;width:89px;height:89px;background:url(../images/sindex.png) -126px -10px no-repeat;top:73px;display:block;}
.cgal_tp a p{position:absolute;right:-88px;width:88px;height:88px;background:url(../images/sindex.png) -4px -212px no-repeat;top:73px;display:block;}
.cgal_tp img{position:absolute;left:0;top:0;width:358px;height:235px;}


.core{width:100%;margin:0 auto;min-width:1140px;height:700px;background:#fafafa;}
.core_tit{ width:100%; border-bottom:1px solid #f3f3f3; height:145px;}
.core_tit h1{ width:1140px; margin:0 auto; text-align:center; padding-top:75px; height:72px; position: relative;font-weight:400; font-size:42px; color:#00adef; }
.core_tit h1 span{display:block; width:128px; height:20px; font-size:12px; color:#ccc; font-family:Arial, Helvetica, sans-serif; background:#fafafa; position:absolute; left:505px; bottom:-11px;}
.core_list{width:1140px;margin:0 auto;height:540px;}
.core_list ul{float:left;margin-left:-60px;width:1260px;height:480px;margin-top:60px;}
.core_list ul li{float:left;width:252px;height:240px;}
.core_img{width:100%;height:132px;float:left;position:relative;}
.core_img a{position:absolute;left:60px;top:0;width:132px;height:132px;-webkit-transition: -webkit-transform 0.5s ease-out;
	-moz-transition: -moz-transform 0.5s ease-out;
	-o-transition: -o-transform 0.5s ease-out;
	-ms-transition: -ms-transform 0.5s ease-out;}
.core_img a:hover {
	-webkit-transform: rotateZ(360deg);
	-moz-transform: rotateZ(360deg);
	-o-transform: rotateZ(360deg);
	-ms-transform: rotateZ(360deg);
	transform: rotateZ(360deg);
}
.cgal-item-more{width:100%;height:100%;text-align:center;float:left;background:url(../images/img.png) repeat;}

.core_h{float:left;width:100%;height:30px;margin-top:15px;}
.core_h a{display:inline-table;float:left;width:100%;line-height:30px;text-align:center;font-size:18px;color:#666;}

.xwzx{ width:100%; height:760px;background: #fff;min-width: 1140px;}
.xwzx-top{ width:100%; border-bottom:1px solid #f3f3f3; height:189px;}
.xwzx-top h1{ width:1140px; margin:0 auto; text-align:center; padding-top:115px; height:72px; position: relative;font-weight:400; font-size:42px; color:#00adef; font-family:"微软雅黑";}
.xwzx-top h1 span{display:block; width:128px; height:20px; font-size:12px; color:#ccc; font-family:Arial, Helvetica, sans-serif; background:#FFFFFF; position:absolute; left:505px; bottom:-12px;}

.xwzxbox{ width:1140px; margin:0 auto;}
.xwzxbox-top{ height:28px; margin-top:30px; width:640px; margin-left:255px;}
.xwzxbox-top li{ height:32px; width:138px; border:1px solid #8a8a8a; color:#999; border-radius:15px; text-align:center; line-height:32px; margin-right:20px; float:left; cursor:pointer;}
.xwzxbox-top ul li.current{ background:#00adef; border:1px solid #00adef; color:#FFFFFF; }
.xwzx-main{ margin-top:68px; width:1140px;float:left}
.xwzx-main .xwlb{ width:50%; height:105px; border-bottom:1px solid #efefef; float:left;margin-bottom:17px; }
.xwzx-main .xwlb ul{ height:80px;}
.xwzx-main .xwlb ul li{ height:80px; float:left; width:420px;}
.xwzx-main .xwlb ul li p{ font-size:36px; font-family:"微软雅黑"; margin-top:8px;}
.xwzx-main .xwlb ul li span{ font-size:14px; font-family:"微软雅黑"; }
.xwzx-main .xwlb ul li h5{ font-weight:400; font-size:18px; margin-bottom:10px; margin-top:8px;}
.xwzx-main .xwlb ul li h5 a{ color:#333;}
.xwzx-main .xwlb ul li h5 a:hover{ color:#00adef;}

.xwzxbox{ width:1140px; margin:0 auto;}
.nleft{float:left;width:580px;margin-top:60px;}
.nleft h2{float:left;width:100%;height:30px;}
.nleft h2 span{float:left;height:30px;line-height:30px;color:#00adef;font-weight:500;font-size:20px;}
.nleft h2 a{display:inline-table;float:right;height:30px;line-height:30px;color:#00adef;font-weight:500;font-size:16px;}
.nleft ul{float:left;width:100%;}
.nleft ul li{float:left;width:100%;padding:23px 0;border-bottom:1px solid #efefef;}
.news_left{float:left;width:72px;height:70px;background: #00adef;}
.news_left a{display:block;width:100%;height:100%;}
.news_left a p{width:100%;text-align:center;font-size:28px;color:#fff;height:30px;line-height:30px;padding-top:6px;}
.news_left a span{display:block;width:100%;text-align:center;font-size:14px;color:#fff;height:24px;padding-top:3px;}
.news_right{float:right;width:490px;height:70px;}
.news_right h3{width:100%;height:34px;}
.news_right h3 a{display:block;float:left;width:100%;font-size:18px;font-weight:500;color:#333;}
.news_right p{width:100%;}
.news_right p a{display:block;float:left;width:100%;line-height:20px;color:#999;}
.nleft ul li h3 a:hover{color:#00adef;}

.nright{float:right;width:520px;margin-top:60px;}
.nright h2{float:left;width:100%;height:30px;}
.nright h2 span{float:left;height:30px;line-height:30px;color:#00adef;font-weight:500;font-size:20px;}
.nright h2 a{display:inline-table;float:right;height:30px;line-height:30px;color:#00adef;font-weight:500;font-size:16px;}
.nright ul{float:left;width:100%;}
.nright ul li{float:left;width:100%;padding:23px 0;border-bottom:1px solid #efefef;height:99px;}
.nright_l{float:left;width:160px;height:99px;}
.nright_r{float:right;width:340px;}
.nright_r h3{width:100%;height:40px;}
.nright_r h3 a{display:block;float:left;width:100%;font-size:18px;font-weight:500;color:#333;}
.nright_r p{width:100%;line-height:20px;color:#999;}



.wmdkh{ width:100%; height:640px;background:#fff;min-width:1140px;}
.wmdkh-top{ width:100%; border-bottom:1px solid #f3f3f3; height:145px;}
.wmdkh-top h1{ width:1140px; text-align:center; margin:0 auto; padding-top:70px; height:72px; position: relative;font-weight:400; font-size:42px; color:#00adef; }
.wmdkh-top h1 span{display:block; width:128px; height:20px; font-size:12px; color:#ccc; font-family:Arial, Helvetica, sans-serif; background:#FFFFFF; position:absolute; left:505px; bottom:-12px;}

.wmdkhbox{ width:1140px; margin:0 auto;}
.wmdkh-main{ width:1140px; margin-top:75px;}
.wmdkh-main-left{ width:759px; height:270px; float:left;}
.wmdkh-main-left ul li{ width:189px; height:128px; float:left; border-bottom:1px solid #f0f0f0; border-right:1px solid #f0f0f0;}
.wmdkh-main-left ul li a{ display:block; width:189px; height: 128px;}
.a-1{ background:url(../images/bindex.jpg) no-repeat ;}
.a-2{ background:url(../images/bindex.jpg) 0px -128px no-repeat ;}
.a-3{ background:url(../images/bindex.jpg) 0px -257px no-repeat ;}
.a-4{ background:url(../images/bindex.jpg) 0px -385px no-repeat;}
.a-5{ background:url(../images/bindex.jpg) -377px -385px no-repeat;}
.a-6{ background:url(../images/bindex.jpg) -377px -128px no-repeat;}
.a-7{ background:url(../images/bindex.jpg) -378px 0px no-repeat;}
.a-8{ background:url(../images/bindex.jpg) -377px -257px no-repeat;}

.a-1:hover{ background:url(../images/bindex.jpg) -189px 0px no-repeat ;}
.a-2:hover{ background:url(../images/bindex.jpg) -189px -128px no-repeat ;}
.a-3:hover{ background:url(../images/bindex.jpg) -189px -257px no-repeat;}
.a-4:hover{ background:url(../images/bindex.jpg) -189px -385px no-repeat;}
.a-5:hover{ background:url(../images/bindex.jpg) -566px -385px no-repeat;}
.a-6:hover{ background:url(../images/bindex.jpg) -566px -128px no-repeat;}
.a-7:hover{ background:url(../images/bindex.jpg) -566px 0px no-repeat;}
.a-8:hover{ background:url(../images/bindex.jpg) -566px -257px no-repeat;}

.wmdkh-main-right{ width:360px; float:right; height:290px; position:relative;}
.wmdkh-main-right ul li p{ line-height:20px; font-size:12px; font-family:"宋体"; color:#999999;}
.wmdkh-main-right ul li span{ display:block; width:25px; height:19px; position:absolute; left:-30px; top:-19px; background:url(../images/sindex.png) -160px -198px no-repeat;}

/*底部*/
.bottom{ width:100%;background:#00adef;min-width:1140px;margin:0 auto;}
.bbottom{background-color:#fff;}
.bottomTop{background:url(../images/dbff.png) no-repeat center top;width:100%;height:118px;margin:0 auto;min-width:1140px;position:relative;z-index:1;}
.bottombox{ width:1140px;padding-top:70px; margin:0 auto;}


.bottom-dh{ width:1140px;  height:206px;}
.bottom-dh ul{ width:160px; float:left;}
.bottom-dh ul h4{ font-size:16px; font-family:"宋体"; color:#FFFFFF; padding-bottom:5px;}
.bottom-dh ul li{ line-height:26px;}
.bottom-dh ul li a{ color:#FFFFFF;}
.bottom-dh ul li a:hover{ text-decoration: underline;}
.bottom-dh .ewm{ width:142px; height:122px; float:left;}
.bottom-dh .ewm p{ width:118px; height:118px; border:2px solid #ededed; float:left;}
.bottom-dh .ewm span{ float:right; display:block; width:14px; height:73px; background:url(../images/ewm.jpg) no-repeat; text-align:center; color:#FFFFFF; padding-top:9px; font-size:12px; font-family:"宋体"; margin-top:15px;}
.footer{width:100%;margin:0 auto;height:68px;background:url(../images/foot.jpg) repeat-x;}

.fx{ width:1140px; height:70px;}
.fx .fx-1{ width:156px; height:auto; float:left;}
.fx .fx-1 li{ float:left; margin-right:16px;}
.fx .fx-2{ width:700px; float:right;}
.fx .fx-2 li{ float:left; color:#FFFFFF; font-size:12px; font-family:"宋体"; padding-left:30px; height:24px; line-height:24px;}

.yqlj{ width:1140px;padding-bottom:25px;}
.yqlj h4{ font-size:16px; color:#FFFFFF;}
.yqlj ul{ margin-top:15px;float:left;width:100%;}
.yqlj ul li{line-height:25px; margin-right:20px; float:left;height:25px;}
.yqlj ul li a{ font-size:12px; color:#FFFFFF;float:left;height:25px;line-height:25px;white-space: nowrap;}
.yqlj ul li a:hover{text-decoration: underline;}

.bqxx{ width:1140px; height:66px;margin:0 auto;padding-top:2px;}
.bqxx ul li{ width:auto; line-height:66px; font-size:12px; color:#FFFFFF;}

.guide{position:fixed;right:20px;width:45px;z-index:10000000;}
.guide-warp{float:left;width:100%;}
.guide-warp li{float:left;width:45px;margin-top:1px;position:relative;cursor:pointer;}
.foot_qq{display:none;position:absolute;right:46px;background:#00adef;padding:10px 15px;}
.foot_qq a{display:block;float:left;width:110px;}
.foot_qq a img{float:left;width:25px;margin-top:5px;}
.foot_qq a span{float:left;line-height:35px;color:#fff;font-size:14px;margin-left:10px;}
.kfdh{display:none;position:absolute;right:46px;background:#00adef;padding:10px 15px;}
.kfdh p{float:left;width:180px;}
.kfdh p span{float:left;width:70px;line-height:26px;font-size:14px;color:#fff;}
.code-side{display:none;position:absolute;right:46px;background:#00adef;padding:15px 9px;width:136px;}
.code-side div{float:left;width:120px;text-align:center;padding:0 8px;}
.code-side div span{display:block;width:100%;text-align:center;font-size:14px;color:#fff;margin-top:8px;}
/*page*/
.tcdPageCode{float:left;width:100%;text-align:center;color: #ccc;padding:60px 0;}
.tcdPageCode a{display: inline-block;color:#999;display:inline-block;height: 40px;line-height:40px;  margin:0 4px;vertical-align: middle;font-size:14px;background:#f0f0f0;width:40px;}
.tcdPageCode a:hover{color:#fff;font-size:14px;background:#00adef;}
.tcdPageCode span.current{display: inline-block;color: #fff;display: inline-block;height: 40px; line-height: 40px;width:40px;margin: 0 4px;vertical-align: middle;font-size:14px;background:#00adef;}
.tcdPageCode span.disabled{ display: inline-block;height: 40px;width:40px;margin: 0 4px;vertical-align: top;}

.pagination {float:left;width:100%;text-align:center;color: #ccc;padding:60px 0;}
.pagination li{display: inline-block;color:#999;display:inline-block;height: 40px;line-height:40px; vertical-align: middle;font-size:14px;background:#f0f0f0;width:40px;}
.pagination li:hover{cursor:pointer;color:#fff;font-size:14px;background:#00adef;}
.pagination a{display: inline-block;color:#999;display:inline-block;height: 40px;line-height:40px; vertical-align: middle;font-size:14px;background:#f0f0f0;width:40px;}
.pagination a:hover{cursor:pointer;color:#fff;font-size:14px;background:#00adef;}

.pagination .active {display: inline-block;color: #fff;display: inline-block;height: 40px; line-height: 40px;width:40px;vertical-align: middle;font-size:14px;background:#00adef;}

/*产品及解决方案*/
.banner{width:100%;margin:0 auto;min-width:1140px;height:395px;}
.pro_wap{width:100%;margin:0 auto;height:84px;border-bottom:2px solid #f3f3f3;background:#f4f7fa;}
.pro_menu{width:1140px;margin:0 auto;height:84px;}
.pro_menu ul{width:620px;height:84px;float:left;margin-left:260px;}
.pro_menu ul li{float:left;width:124px;text-align:center;height:64px;padding-top:20px;cursor:pointer;position:relative;}
.pro_menu ul li span{display:block;width:100%;text-align:center;font-size:14px;color:#a1abaf;margin-top:5px;}
.pro_menu ul .hover span{color:#20b7f4;}
.pro_menu ul .cur span{color:#20b7f4;}
.pro_menu ul li a.phover{display:block;width:100%;height:100%;float:left;}
.pro_menu ul .hover a.phover{background:url(../images/arr.jpg) no-repeat center bottom;padding-bottom:2px;}
.pro_menu ul .cur a.phover{background:url(../images/arr.jpg) no-repeat center bottom;padding-bottom:2px;}
.plist{position:absolute;left:-260px;top:84px;width:1140px;height:30px;display:none;padding-top:20px}
.plist a{display:block;float:left;line-height:30px;height:30px;width:125px;text-align:center;background:#f4f4f4;border-radius:3px;margin-right:10px;}
.plist a.pact{background:#ffc236;color:#fff;}
.plist a:hover{background:#ffc236;color:#fff;}
.pro_item{width:100%;margin:0 auto;min-width:1140px;}
.pro_con{width:1004px;margin:0 auto;}
/*案例展示*/
.content{width:100%;margin:0 auto;min-width:1004px;}
.case_menu{width:1004px;margin:0 auto;height:73px;}
.case_menu li{float:left;height:28px;margin-right:11px;width:100px;padding-top:45px;}
.case_menu li a{display:block;width:100%;float:left;height:28px;line-height:28px;text-align:center;background:#f1f1f1;color:#666;border-radius:4px;}
.case_menu li a.hover{background:#00adef;color:#fff;}
.case_menu li a:hover{background:#00adef;color:#fff;}
.case{width:1004px;margin:0 auto;}
.case ul{float:left;width:1026px;margin-left:-22px;margin-top:14px;}
.case ul li{float:left;width:320px;margin-left:22px;margin-top:22px;background:#fafafa;}
.cimg{float:left;width:320px;height:210px;position:relative;overflow:hidden;cursor:pointer;}
.cimg a{position:absolute;left:0;top:0;width:320px;height:210px;display:none;background:url(../images/shadow4.png) no-repeat;}
.cimg a h4{position:absolute;left:-88px;width:88px;height:88px;background:url(../images/sindex.png) -126px -10px no-repeat;top:61px;display:block;}
.cimg a p{position:absolute;right:-88px;width:88px;height:88px;background:url(../images/sindex.png) -4px -212px no-repeat;top:61px;display:block;}
.ctext{float:left;width:100%;}
.ctext a{float:left;display:block;width:290px;padding:18px 15px;}
.ctext .c1{font-size:18px;color:#333;float:left;width:100%;overflow: hidden;text-overflow: "...";white-space: nowrap;}
.ctext .c2{font-size:12px;color:#b4b4b4;line-height:18px;float:left;width:100%;padding:10px 0;height:54px;}
.ctext .c3{font-size:12px;color:#999;float:left;width:100%;}
.case ul .hover .ctext .c1{color:#00a0dd;}
.case ul .hover .ctext .c3{color:#00a0dd;}
.case_tit{width:1004px;margin:0 auto;height:60px;}
.case_tit span{float:left;height:60px;line-height:60px;font-size:26px;color:#333;}
.case_tit a{display:inline-table;float:right;color:#999;line-height:30px;margin-top:24px;}
.case_top{width:1004px;margin:0 auto;}
.case_top ul{float:left;width:1016px;height:160px;}
.case_top ul li{float:left;width:242px;height:160px;margin-right:12px;}
.case_top ul li a{display:block;width:100%;height:160px;float:left;position:relative;}
.case_top ul li a h4{display:block;position:absolute;left:0;bottom:0;width:232px;color:#fff;height:31px;font-size:16px;background:url(../images/shadow5.png) repeat-x;color:#fff;padding-left:10px;line-height:31px;font-weight:500;}
.case_bottom{width:1004px;margin:0 auto;height:460px;}
.case_news{float:left;width:608px;border:1px solid #e4e4e4;margin-top:45px;height:278px;}
.case_news_t{float:left;width:100%;margin-top:6px;height:53px;border-bottom:1px solid #e4e4e4;}
.case_news_t h3{float:left;height:53px;line-height:53px;width:180px;font-size:26px;color:#666;font-weight:500;margin-left:19px;}
.case_news_t h3 span{color:#00adef;}
.case_news_t a{display:inline-table;float:right;line-height:30px;color:#999;margin-right:19px;margin-top:20px;}
.case_news ul{float:left;width:570px;padding:18px 19px;}
.case_news ul li{float:left;width:100%;background:url(../images/arr7.png) no-repeat left center;}
.case_news ul li a{display:block;float:left;width:450px;padding-left:10px;color:#666;line-height:30px;height:30px;}
.case_trade ul li a{display:block;float:left;width:450px;padding-left:10px;color:#666;line-height:30px;height:30px;}
.case_news ul li span{float:right;color:#999;line-height:30px;height:30px;}
.case_trade{float:right;width:370px;border:1px solid #e4e4e4;margin-top:45px;height:278px;}
.case_trade p{float:left;width:332px;padding:18px 19px;}
.case_trade p a{display:block;float:left;color:#999;line-height:22px;height:22px;margin-right:12px;}
.case_show{width:1004px;margin:0 auto;padding-top:70px;}
.case_left{float:left;width:674px;}
.case_left img{ max-width:100%;}
.case_right{float:right;width:300px;}
.case_show_t{width:100%; line-height:35px;border-bottom:1px solid #ededed;}
.case_show_t h4{font-size:24px;color:#333;width:100%;font-weight:500;}
.case_show_txt{width:100%;min-height:400px;padding-bottom:60px;}
.clist{width:100%;height:40px;}
.clist a{display:inline-table;float:left;padding-right:30px;background:url(../images/arr8.jpg) no-repeat right center;color:#e41919;font-size:20px;height:30px;line-height:30px;}
.case_right h4{width:100%;font-size:24px;font-weight:500;background:url(../images/hr3.jpg) repeat-x bottom;height:50px;padding-top:30px;}
.case_right ul{float:left;width:100%;padding:15px 0;}
.case_right ul li{float:left;width:100%;padding:10px 0;}
.case_right ul li a{display:block;width:100%;float:left;color:#666;}
.case_right ul li a span{color:#ccc;display:block;margin-top:5px;}
.qq{width:100%;height:30px;}
.qq span{float:left;height:30px;line-height:30px;color:#666;}
.qq a{display:inline-table;float:left;width:25px;height:25px;margin-right:10px;margin-top:3px;}
.case_page{width:100%;height:80px;}
.case_page a{display:block;float:left;line-height:24px;color:#666;width:100%;}
/*普擎资讯*/
.news_wap{width:100%;margin:0 auto;height:63px;border-bottom:2px solid #f3f3f3;background:#f4f7fa;}
.news_menu{float:left;width:100%;text-align: center;}
.news_menu a{display: inline-block;color:#a1abaf;height:63px;line-height:63px;padding:0 30px;vertical-align: middle;font-size:14px;}
.news_menu a.cur{display: inline-block;height:63px;line-height:63px;padding:0 30px;vertical-align: middle;font-size:14px;color:#20b7f4;background:url(../images/arr.jpg) no-repeat bottom center;padding-bottom:2px;}
.news_menu a.hover{display: inline-block;height:63px;line-height:63px;padding:0 30px;vertical-align: middle;font-size:14px;color:#20b7f4;background:url(../images/arr.jpg) no-repeat bottom center;padding-bottom:2px;}
.news_list{float:left;width:100%;}
.news_list ul{float:left;width:100%;margin-top:-20px;}
.news_list ul li{float:left;width:100%;padding:20px 0;border-bottom:1px dashed #b6b6b6;}
.news_l{float:left;width:178px;height:117px;}
.news_r{float:right;width:480px;height:117px;overflow:hidden;}
.news_r h3{float:left;width:100%;height:20px;overflow:hidden;}
.news_r h3 a{display:block;float:left;height:20px;line-height:20px;color:#383c3d;font-size:16px;font-weight:500;}
.news_r h3 span{float:right;height:20px;line-height:26px;overflow:hidden;color:#666;font-weight:500;font-size:12px;}
.news_r p{float:left;width:100%;color:#999;line-height:18px;margin-top:16px;height:54px;overflow:hidden;}
.news_r h6{float:left;width:100%;height:20px;margin-top:10px;}
.news_r h6 a{display:block;font-size:12px;float:left;line-height:20px;color:#666;font-weight:500;}
.news_list ul .hover a{color:#20b7f4;}
.news_txt{width:100%;height:40px;}
.news_txt h6{width:460px;height:30px;font-size:12px;line-height:30px;float:left;margin-top:10px;color:#999;font-weight:500;}
/*关于普擎*/
.about{width:1004px;margin:0 auto;}
.contact{width:1140px;margin:0 auto;padding:50px 0;}
.contact_l{float:left;width:460px;margin-top: 50px;}
.contact_tit{width:350px;padding-left:60px;float:left;height:58px;background:url(../images/szzb.jpg) no-repeat left center;color:#00adef;font-size:30px;}
.contact_tit span{font-size:12px;}
.contact_l h3{float:left;width:100%;font-size:22px;font-weight:500;margin-top:20px;height:64px;}
.contact_l p{float:left;width:100%;}
.contact_l p span{float:left;height:25px;line-height:25px;color:#333;font-size:14px;margin-left:-26px;}
.contact_l p span.cc{width:88px;margin-left:0;}
.contact_l a{display:inline-table;float:left;width:35px;height:35px;margin-right:15px;margin-top:25px;}
.contact_r{float:right;width:540px;}
.contact_r p{float:left;width:100%;color:#999;font-size:14px;line-height:30px;margin-top:50px;}
.cinput{float:left;width:100%;background:#fafafa;margin-bottom:23px;}
.cinput span{float:left;height:42px;line-height:42px;color:#999;margin-left:15px;}
.cinput em{font-size:12px;color:#999;font-family:"宋体";font-style:normal;margin-left:4px;}
.cinput input{float:left;width:460px;padding:9px 14px;height:24px;line-height:24px;background:#fafafa;color:#333;}
.cinput textarea{float:left;width:460px;padding:0 14px;line-height:20px;border:none;background:none;height:80px;margin:11px 0;}
.sub{width:100%;float:left;height:58px;background:#08d18c;border-radius:3px;color:#fff;font-size:24px;font-family:"微软雅黑";cursor:pointer;}
.contact_list{width:100%;height:398px;background:url(../images/map.jpg) no-repeat center top;margin-top:50px;margin-bottom:-150px;}
.contact_list ul{float:left;width:100%;}
.contact_list ul li{float:left;width:300px;margin-top:80px;}
.contact_list ul li h4{float:left;width:275px;padding-left:25px;background:url(../images/address.jpg) no-repeat left 5px;font-weight:500;font-size:18px;color:#333;height:53px;}
.contact_list ul li h4 span{font-size:12px;color:#999;}
.contact_list ul li p{float:left;width:100%;color:#999;line-height:24px;}

.prof{float:left;padding:40px 40px 60px 40px;}
.prof h2{float:left;width:200px;text-indent:20px;font-size:16px;color:#FFF;font-weight:500;background-color:#747474;border-radius:5px;line-height:40px;}
.prof p{float:left;width:885px;margin-top:20px;font-size:12px;font-weight:500;color:#333;}
/*联系普擎*/
.pay{width:100%;height:60px;}
.pay h3{float:left;font-size:24px;font-weight:400;color:#333;height:36px;line-height:36px;}
.pay h4{float:left;font-size:20px;font-weight:400;color:#666;margin-left:8px;line-height:24px;margin-top:10px;}
.pay_l{float:left;width:250px;}
.download{float:right;width:730px;}
.download li{width:688px;border:1px solid #DBDBDB;border-radius: 6px;margin-bottom: 20px;padding:20px;float:left;}
.download_l{width:580px;float:left;}
.download_l h3{color:#333;font-size:14px;}
.download_l p{color:#666;line-height:24px;font-size:12px;margin-top:8px;}
.download_r{float:right;width:100px;text-align:right;margin-top:29px;}
.download_r a{background-color: #FFBD1D;height:28px;width: 60px;display: block;text-align: center;line-height: 28px;font-size: 14px;color: #6B4E09;float: right;border-radius:5px;box-shadow: 3px 3px 4px #CCC;font-weight:normal;}
.download_r a:hover{background-color:#F90; color:#FFF; text-decoration:none;}

.help{float:left;width:200px;}
.help ul{float:left;width:100%;}
.help ul li{float:left;width:100%;height:34px;margin-bottom:7px;background: url(../images/help_bg1.jpg) no-repeat;font-size: 14px;color:#FFF;line-height:34px;text-indent:20px;cursor:pointer;}
.help ul .help_icon{background: url(../images/help_bg.jpg) no-repeat;}

.help_con{float:right;width:730px;}
.help_con .tag_help_bg{border:1px solid #DBDBDB;border-radius:6px;margin-bottom:20px;width:728px;}
.help_con .tag_help_bg dl{padding:20px;}
.help_con .tag_help_bg dl dt{height:24px;overflow: hidden;zoom: 1;}
.help_con .tag_help_bg dl dt a{color:#333;font-size:12px;float:left;line-height:24px;}
.help_con .tag_help_bg dl dt a:hover{color:#ff0000;}
.help_con .tag_help_bg dl dt span{float:right;font-size:12px;color:#333;line-height:24px;}
.help_con .tag_help_bg dl dd{margin-top:8px;line-height:24px;color:#666;}
.news_page{float:left;width:100%;text-align:center;height:26px;}
.news_page span{line-height:26px;font-size:12px;font-weight:500;color:#888;margin:0px 6px;}
.news_page .news_a{line-height:26px;font-size:12px;font-weight:500;color:#333;margin:0px 6px;}
.news_page .news_hover{line-height:26px;font-size:12px;font-weight:500;color:#ff0000;margin:0px 6px;}

.con_about_top1{ height:10px; line-height:10px; font-size:1px; background:url(../images/top_bg.jpg) no-repeat;}
.con_about_bt1{ height:10px; line-height:10px; font-size:1px; background:url(../images/bottom_bg.jpg) no-repeat;}
.con_about_bg1{ background:url(../images/mid_bg.jpg) repeat-y;}
.con_culture{ width:930px; padding-left:35px; padding-top:16px; padding-bottom:16px;}
.con_culture h3{ margin-left:7px; margin-bottom:7px; height:30px; line-height:30px; padding:0 12px; background:#00a3cc; font-size:14px; color:#fff;}
.con_culture h3 span{ padding-left:3px; font-family:Verdana; font-size:12px; font-weight:normal;}
.con_culture h4{ margin-left:7px; margin-bottom:7px; height:30px; line-height:30px; padding:0 12px; background:#666; font-size:14px; color:#fff;}
.con_culture h4 span{ padding-left:3px; font-family:Verdana; font-size:12px; font-weight:normal;}
.con_culture p{ padding-left:20px; line-height:160%; font-size:14px;}
.con_culture br{ height:10px; line-height:10px; font-size:1px;}
.con_course{ padding-top:5px; padding-top:20px; padding-bottom:20px; text-align:center;}
.con_join{ width:940px; padding-left:30px; padding-top:16px; padding-bottom:16px;}
.con_join h3{ height:40px; line-height:32px; font-family:"微软雅黑"; font-size:30px; font-weight:normal; color:#111;}
.con_join h4{ height:54px; line-height:24px; font-family:"微软雅黑"; font-size:16px; font-weight:normal;}
.con_join .con_join_1{ font-size:14px; line-height:180%;}
.con_join_info{ margin-top:24px;}
.join_info_lf{ float:left; width:575px;}
.join_info_lf dl{ padding-bottom:12px; border-bottom:#ccc 1px dashed;}
.join_info_lf dl dt{ height:38px; line-height:36px;}
.join_info_lf dl dt strong{ padding-left:16px; font-family:"微软雅黑"; font-weight:normal; font-size:16px; color:#FFFFFF;}
.join_info_lf dl .join_menu_bg{  background:url(../images/join_bg.jpg) no-repeat left center;}
.join_info_lf dl .join_menu_bg1{  background:url(../images/join_bg1.jpg) no-repeat left center;}
.join_info_lf dl dd{ margin-top:10px; margin-left:16px;}
.join_info_lf dl dd span{ color:#666;}
.join_info_rg{ float:right; width:400px; padding:10px 0; background:#a1a1a1;}
.join_info_rg h3{ height:42px; line-height:30px; font-size:24px; text-align:center; font-family:"微软雅黑"; color:#fff; font-weight:normal;}
.join_info_rg  .join_info_bg{ width:380px; margin:0 auto; padding:20px 0; background:#e5e5e5; font-family:"宋体"; font-size:14px;}
.join_info_rg  .join_info_bg input{ margin:0; padding:0; vertical-align:middle; border:none;}
.join_info_rg  .join_info_bg .join_input_bg{ width:240px; height:30px; line-height:30px; background:url(../images/input_bg1.jpg) no-repeat; color:#666; text-indent:10px;}
.join_info_rg  .join_info_bg .join_input_bg1{ width:180px; height:30px; line-height:30px; background:url(../images/input_bg2.jpg) no-repeat; color:#666; text-indent:10px;}

.wl_banner1{width:100%;margin:0 auto;background:url(../images/pimg2.jpg) no-repeat center center;height:552px;}
.wl_banner1 h3{width:1004px;margin:0 auto;font-size:32px;color:#333;font-weight:500;padding-top:85px;}
.wl_banner1 h3 span{font-size:30px;color:#20b7f4;font-family:Arial;display:block;width:100%;margin-top:8px;}
.wl_banner1 div{width:1004px;margin:0 auto;height:310px;}
.wl_banner1 div p{float:left;padding-left:47px;width:957px;font-size:16px;color:#333;margin-top:30px;}
.wl_banner1 div p span{font-size:14px;color:#999;display:block;width:100%;margin-top:4px;}
.ban1{background:url(../images/ground1.png) no-repeat left center;}
.ban2{background:url(../images/ground2.png) no-repeat left center;}
.ban3{background:url(../images/ground3.png) no-repeat left center;}
.ban4{background:url(../images/ground4.png) no-repeat left center;}
.pro_list{width:1004px;margin:0 auto;height:50px;}
.pro_list li{float:left;margin-top:20px;width:120px;height:30px;margin-right:12px;}
.pro_list li a{line-height:30px;text-align:center;background:#f1f1f1;color:#666;border-radius:4px;display:block;width:120px;height:30px;}
.pro_list li a.hover{background:#00adef;color:#fff;}
.pro_list li a:hover{background:#00adef;color:#fff;}
.pro_option{width:100%;margin:0 auto;}
.pro_box{width:100%;margin:0 auto;display:none;}
.ser01{width:1004px;margin:0 auto;padding-top:50px;height:590px;}
.ser01_l{float:left;width:385px;margin-top:78px;}
.ser01_l h3{width:100%;text-align:right;font-size:32px;font-weight:500;color:#333;float:right;}
.ser01_l h4{width:100%;text-align:right;font-size:14px;font-weight:500;color:#888;margin-top:14px;float:right;}
.ser01_l p{color:#888;font-size:12px;text-align:right;padding-right:54px;float:right;width:331px;height:40px;margin-top:16px;}
.ser01_l p span{font-size:15px;color:#333;display:block;width:100%;text-align:right;margin-bottom:4px;}
.ser01_l p.ser01_one{background:url(../images/icon01.jpg) no-repeat right top;margin-top:40px;}
.ser01_l p.ser01_two{background:url(../images/icon02.jpg) no-repeat right top;}
.ser01_l p.ser01_three{background:url(../images/icon03.jpg) no-repeat right top;}
.ser01_l p.ser01_four{background:url(../images/icon04.jpg) no-repeat right top;}
.ser01_r{float:right;width:619px;text-align:right;}
.ser_fix{width:100%;margin:0 auto;height:535px;position:relative;}
/*.simg1{position:absolute;left:50%;margin-left:-960px;height:535px;}*/
.simg2{position:absolute;left:50%;margin-left:-362px;width:275px;height:477px;bottom:0;z-index:1;}
.simg3{position:absolute;left:50%;margin-left:-500px;width:474px;height:535px;bottom:0;z-index:1;}
.simg1{position:absolute;height:535px;margin:0 auto;width:100%;}

.ser_fix div{position:absolute;left:50%;margin-left:130px;top:105px;z-index:1;}
.ser_fix div p{color:#fff;font-size:14px;line-height:24px;}
.ser02{width:1004px;margin:0 auto;padding:80px 0;}
.ser02 p{width:100%;}
.ser02 div{float:left;width:150px;text-align:center;color:#999;font-family:"宋体";line-height:20px;}
.ser02 div span{display:block;font-size:16px;color:#333;font-family:"微软雅黑";margin-top:15px;height:26px;}

.ser03{width:1004px;margin:0 auto;height:648px;}
.ser03_l{float:left;width:577px;}
.ser03_r{float:right;width:405px;}
.ser03_r h3{float:left;width:100%;font-size:32px;color:#333;font-weight:500;margin-top:170px;}
.ser03_r h4{float:left;width:100%;font-size:16px;color:#999;font-weight:500;margin-top:8px;}
.ser03_r h6{float:left;width:100%;margin-top:20px;}
.ser03_r h6 img{float:left;width:100%;}
.ser03_r h6 p{float:left;width:100%;margin-top:6px;}
.ser03_r h6 span{float:left;width:78px;margin-right:31px;font-size:14px;color:#999;font-weight:500;text-align:center;}
.ser04{position:relative;width:100%;height:530px;margin:0 auto;}
.ser05{width:1004px;margin:0 auto;height:759px;}
.ser05_l{float:left;width:658px;}
.ser05_r{float:right;width:330px;margin-top:215px;}
.ser05_r h3{font-size:32px;color:#333;float:left;width:100%;font-weight:500;}
.ser05_r h6{font-size:16px;color:#999;float:left;width:100%;font-weight:500;line-height:26px;margin-top:10px;}
.ser05_r p{float:left;width:100%;padding:16px 0;}
.ser05_r span{display:block;float:left;padding-left:27px;width:303px;background:url(../images/gou.jpg) no-repeat left center;font-size:14px;color:#999;line-height:26px;}
.ser06{width:1004px;margin:0 auto;padding-top:140px;height:355px;}
.ser06 p{float:left;width:100%;text-align:center;font-size:14px;color:#999;}
.ser06 span{float:left;width:115px;text-align:center;font-size:12px;color:#999;line-height:16px;margin-top:10px;}
.ser07{width:1004px;margin:0 auto;}
.ser07_l{float:left;width:440px;}
.ser07_l h3{float:left;width:100%;font-size:32px;color:#333;font-weight:500;}
.ser07_l p{float:left;width:100%;color:#999;font-size:12px;font-family:"宋体";line-height:26px;margin-top:45px;}
.ser07_r{float:right;width:564px;text-align:right;}
.ser08{width:1004px;margin:0 auto;}
.ser08 h3{width:100%;font-size:32px;color:#333;font-weight:500;text-align:center;margin-top:80px;}
.ser08 p{color:#999;font-size:14px;line-height:26px;text-align:center;padding:25px 0;}
.ser08 p span{display:inline-block;width:121px;text-align:center;}
.ser_l{float:left;width:475px;}
.ser_l h3{float:left;width:100%;font-size:32px;color:#333;font-weight:500;margin-top:140px;}
.ser_l p{float:left;width:100%;color:#999;font-size:12px;font-family:"宋体";line-height:26px;margin-top:20px;}
.ser_l p span{float:left;width:116px;text-align:center;font-size:14px;color:#999;font-family:"宋体";line-height:24px;}
.ser_r{float:right;width:529px;text-align:right;}
.ser_con{position:absolute;left:50%;margin-left:-502px;width:427px;height:530px;z-index:1;}
.ser_con h3{float:left;width:100%;color:#fff;font-size:32px;font-weight:500;margin-top:112px;}
.ser_con h3 span{display:block;color:#de1e38;font-size:16px;width:100%;margin-top:10px;}
.ser_con p{float:left;width:100%;color:#fff;font-size:12px;font-family:"宋体";line-height:26px;margin-top:45px;}
.inner1{position:absolute;left:50%;margin-left:-502px;width:1004px;height:530px;z-index:1;}
.inner1 h3{float:left;width:100%;font-size:32px;color:#fff;font-weight:500;margin-top:115px;height:104px;}
.inner1 h3 span{display:block;width:100%;font-size:16px;color:#fff;margin-top:14px;}
.inner1 p{float:left;width:100%;background:url(../images/hook2.png) no-repeat left center;font-size:14px;color:#fff;line-height:30px;text-indent:25px;}
.mp1{display:inline-table;width:85px;height:40px;text-align:center;font-size:14px;color:#fff;line-height:20px;padding:22px 0;background:url(../images/c01.png) no-repeat;margin:0 39px;}
.mp2{display:inline-table;width:85px;height:40px;text-align:center;font-size:14px;color:#fff;line-height:20px;padding:22px 0;background:url(../images/c02.png) no-repeat;margin:0 39px;}
.mp3{display:inline-table;width:85px;height:40px;text-align:center;font-size:14px;color:#fff;line-height:20px;padding:22px 0;background:url(../images/c03.png) no-repeat;margin:0 39px;}
.ser04_m{width:100%;margin:0 auto;height:530px;}
.np{display:inline-block;width:150px;height:80px;line-height:20px;color:#fff;font-size:14px;text-align:center;float:left;margin-top:8px;}
.sen01_l{float:left;width:567px;text-align:left;}
.sen01_r{float:right;width:437px;}
.sen01_r h3{color:#20b7f4;font-size:32px;font-weight:500;margin-top:140px;}
.sen01_r p{color:#999;font-size:12px;font-weight:500;margin-top:40px;line-height:26px;}
.circle{float:left;width:54px;height:36px;padding:13px 4px;text-align:center;color:#fff;font-size:12px;background:url(../images/circle.png) no-repeat;margin-right:15px;}
.sen{width:100%;text-indent:27px;background:url(../images/hook.jpg) no-repeat left 8px;font-size:14px;color:#999;line-height:34px;display:block;}
.sen02{width:1004px;margin:0 auto;height:505px;}
.sen02_l{float:left;width:530px;}
.sen02_l h3{width:100%;float:left;color:#333;font-size:32px;font-weight:500;margin-top:120px;height:140px;}
.sen02_l p{float:left;width:100%;background:url(../images/gou.jpg) no-repeat left center;text-indent:30px;font-size:16px;color:#999;line-height:42px;}
.mpth{width:744px;margin:0 auto;height:123px;padding-top:60px;}
.mpth div{float:left;width:236px;height:85px;background:url(../images/h08.png) no-repeat;font-size:14px;color:#FFF;line-height:28px;text-align:center;padding:19px 0;}
.mpth p{float:left;width:272px;text-align:center;font-size:22px;color:#fff;margin-top:25px;}
.hkh{float:left;width:134px;text-align:center;font-size:12px;color:#999;line-height:18px;}

.pm{float:left;width:200px;margin-left:62px;text-align:center;font-size:18px;color:#333;margin-top:15px;}
.pm span{display:block;width:100%;font-size:12px;color:#999;line-height:20px;margin-top:17px;}
.round{width:1004px;height:220px;margin:0 auto;overflow:hidden;padding-top:70px;}
.round ul{float:left;width:1100px;}
.round ul li{float:left;width:200px;padding-left:85px;height:110px;color:#333;font-size:16px;margin-right:75px;}
.round ul li span{display:block;width:100%;font-size:12px;color:#999;font-family:"宋体";line-height:18px;margin-top:6px;}
.mpq{float:left;width:133px;text-align:center;font-size:12px;color:#999;margin-top:12px;}
.round1{width:1004px;margin:0 auto;height:180px;overflow:hidden;overflow:hidden;padding-top:70px;}
.round1 ul{float:left;width:1300px;}
.round1 ul li{float:left;width:196px;text-align:center;margin-right:208px;}
.round1 ul li span{display:block;width:100%;text-align:center;color:#fff;font-size:14px;margin-top:10px;}
.round2{width:1004px;margin:0 auto;height:270px;overflow:hidden;overflow:hidden;padding-top:50px;}
.round2 ul{float:left;width:460px;}
.round2 ul li{float:left;width:100%;margin-top:26px;font-size:18px;color:#20b7f4;}
.round2 ul li span{display:block;color:#ccc;font-size:12px;line-height:20px;margin-top:8px;}
.vps{float:left;width:100%;}
.vps_tit{float:left;width:100%;margin-top:80px;font-size:32px;color:#333;}
.vps_list{float:left;width:100%;overflow:hidden;}
.vps_list ul{float:left;width:1100px;}
.vps_list ul li{float:left;width:316px;margin-right:28px;margin-top:30px;height:351px;}
.vps_list ul li h3{float:left;width:100%;background:url(../images/vps3.jpg) no-repeat;text-align:center;line-height:45px;font-size:22px;color:#fafafa;font-weight:500;}
.vps_list ul li p{float:left;width:291px;background:url(../images/vps4.jpg) no-repeat bottom;padding:25px 0 25px 25px;color:#666;line-height:24px;}
.round3{width:1004px;margin:0 auto;height:270px;padding-top:80px;}
.round3 ul{float:left;width:1172px;margin-left:-84px;}
.round3 ul li{float:left;width:293px;text-align:center;}
.round3 ul li span{display:block;color:#fff;line-height:26px;font-size:15px;margin-top:10px;}
.email_left{float:left;width:468px;}
.email_left p{float:left;text-align:right;padding-right:98px;font-size:20px;color:#000;height:75px;margin-top:58px;width:370px;}
.email_left p span{display:block;line-height:20px;font-size:12px;color:#666;margin-top:10px;}
.email_right{float:right;width:468px;}
.email_right p{float:left;padding-left:98px;font-size:20px;color:#000;height:75px;margin-top:58px;width:370px;}
.email_right p span{display:block;line-height:20px;font-size:12px;color:#666;margin-top:10px;}
.elist{float:left;width:100%;}
.elist ul{float:left;width:620px;margin-left:192px;}
.elist ul li{float:left;width:310px;height:57px;line-height:50px;text-align:center;font-size:26px;color:#666;cursor:pointer;}
.elist ul li.hover{background:url(../images/em12.png) no-repeat;color:#fff;}
.email_item{float:left;width:100%;}
.email_con{float:left;width:100%;display:none;margin-top:60px;}
.email_con table{width:980px;margin:0 auto;}
.email_con table{border-collapse:collapse;border:1px solid #e9e9e9;}
.email_con table th,.email_con table td{border:1px solid #e9e9e9;}
.email_con table th{background:#ebebeb;font-size:20px;color:#333;font-weight:500;height:48px;}
.email_con table td{padding:1px 0;height:34px;text-align:center;font-size:14px;color:#666;}
.email_con table td .ys{background:#f6f6f6;width:100%;height:34px;line-height:34px;}
.round4{width:1004px;margin:0 auto;height:650px;padding-top:50px;}
.round4 ul{float:left;width:1100px;margin-left:-47px;}
.round4 ul li{float:left;width:183px;height:185px;text-align:center;}
.round4 ul li p{font-size:18px;color:#333;line-height:36px;}
.round4 ul li span{font-size:12px;font-family:"宋体";color:#999;line-height:18px;}
.round5{width:1004px;margin:0 auto;height:520px;padding-top:50px;}
.round5 ul{float:left;width:1108px;margin-left:-52px;}
.round5 ul li{float:left;width:277px;height:520px;text-align:center;}
.round5 ul li p{font-size:26px;color:#000;margin-top:13px;}
.round5 ul li span{font-size:12px;font-family:"宋体";color:#999;line-height:20px;margin-top:13px;display:block;}

.tm01{float:left;width:312px;height:178px;background:url(../images/tm03.png) no-repeat;font-size:20px;color:#fff;padding:22px 24px 0 24px;}
.tm01 span{font-size:12px;color:#e8e8e8;line-height:24px;font-family:"宋体";display:block;margin-top:7px;}
.tm02{float:left;width:284px;text-align:center;margin-top:17px;}
.tm_left{float:left;width:380px;}
.tm_left p{float:left;text-align:right;padding-right:28px;font-size:16px;color:#000;height:75px;margin-top:46px;width:352px;}
.tm_left p span{float:right;margin-right:-28px;width:380px;display:block;line-height:20px;font-size:12px;color:#666;margin-top:10px;}
.tm_right{float:right;width:380px;}
.tm_right p{float:left;padding-left:28px;font-size:16px;color:#000;height:75px;margin-top:46px;width:352px;}
.tm_right p span{float:left;margin-left:-28px;width:380px;display:block;line-height:20px;font-size:12px;color:#666;margin-top:10px;}
.tm03{width:1004px;margin:0 auto;height:725px;padding-top:6px;}
.tm03 p{float:left;width:100%;background:url(../images/tm09.png) no-repeat;font-size:18px;color:#fff;text-align:center;padding:10px 0;height:51px;margin-top:12px;}
.tm03 p span{font-size:12px;color:#fff;display:block;margin-top:6px;}
.ui01{float:left;width:1092px;margin-left:-44px;height:340px;margin-top:50px;}
.ui01 div{float:left;width: 273px;text-align:center;}
.ui01 div p{font-size:20px;color:#16171c;margin-top:12px;}
.ui01 div span{font-size:12px;color:#999;line-height:20px;font-family:"宋体";margin-top:8px;display:block;}
.ui02{float:left;width:1092px;margin-left:-44px;height:340px;margin-top:50px;}
.ui02 div{float:left;width: 273px;text-align:center;}
.ui02 div p{font-size:20px;color:#fff;margin-top:12px;}
.ui02 div span{font-size:12px;color:#fff;line-height:20px;font-family:"宋体";margin-top:8px;display:block;}
.ui03{float:left;width:1074px;margin-left:-35px;margin-top:13px;height:190px;}
.ui03 div{float:left;width:179px;text-align:center;color:#333;font-size:16px;}
.ui03 div span{display:block;font-size:12px;color:#999;font-family:"宋体";margin-top:8px;line-height:20px;}

.young-2p-main-left{ width:490px; height:auto; float:left;}
.young-2p-main-left ul{width:440px;height:150px;padding:22px 0 0 50px;background:url(../images/career1.png) no-repeat;margin-bottom:25px;}
.young-2p-main-left ul li{ font-size:21px; color:#000;}
.young-2p-main-left ul li p{ font-size:12px; color:#999;line-height:22px;padding-top:8px;}
.young-2p-main-left ul li p span{font-size:14px;color:#333;display:block;margin-bottom:5px;}
.young-2p-main-right{ width:490px; height:auto; float:right;}
.young-2p-main-right ul{ width:420px;height:152px;padding:22px 30px 0 30px; background:url(../images/career2.png) no-repeat;margin-bottom:25px;}
.young-2p-main-right ul li{ font-size:21px; color:#000;}
.young-2p-main-right ul li p{ font-size:12px; color:#999;line-height:22px;padding-top:8px;}
.young-2p-main-right ul li p span{font-size:14px;color:#333;display:block;margin-bottom:5px;}
.career_info{width:1004px;margin:0 auto;padding:120px 0;}
.career_info table{width:100%;}
.career_info table th{color:#333;font-size:34px;font-weight:500;}
.career_info table td{border-bottom:1px solid #f3f3f3;}
.career_info table td em{font-size:16px;color:#eb0909;font-family:"宋体";font-style:normal;float:left;margin-top:22px;margin-right:4px;}
.career_info table td label{font-size:16px;color:#999;line-height:50px;height:50px;float:left;margin-top:10px;}
.career_info table td input{ margin:0; padding:0; vertical-align:middle; border:none;}
.career_info table td .join_input_bg{float:left;width:100%;height:46px;border:none;background:#fff;line-height:46px;padding-top:14px;font-size:15px;color:#666;}
.career_info table td textarea{width:880px;height:160px;margin:20px 0;line-height:26px;font-size:15px;color:#666;}
.career_info table td .tag_feedbackbg4{float:left;width:200px;height:46px;border:none;background:#fff;line-height:46px;padding-top:14px;font-size:15px;color:#666;}
.culture{float:left;width:100%;margin-bottom:120px;}
.culture li{float:right;width:986px;margin-top:42px;height:66px;border:3px solid #f6f6f6;position:relative;}
.culture li p{float:right;width:736px;font-size:14px;color:#999;line-height:66px;}
.culture li div{position:absolute;left:-15px;top:-11px;width:223px;height:71px;color:#fff;padding-left:14px;line-height:71px;font-size:19px;}
.culture li div span{font-variant:small-caps;font-size:17px;}
.xwzx-top h2,.wmdkh-top .hhs,.cgal-top h2,.xwzx-top .hhs{  width:1140px;margin:0 auto; text-align:center;padding-top:40px;height:73px; position:relative;font-weight:400;font-size:42px;color:#00adef;  }
.xwzx-top .hhs span,.wmdkh-top .hhs span,.cgal-top h2 span,.xwzx-top h2 span{display:block;width:128px;height:20px;font-size:12px;color: #ccc;font-family:Arial,Helvetica,sans-serif;background:#FFFFFF;position:absolute;left:510px;bottom:-12px;}
.app_all .list_s .nh1{font-family: "微软雅黑"; font-size: 32px;color: #333;height: 80px;line-height: 30px;font-weight: normal;}
.zixun1{background:url("../images/index3.png") -49px -49px no-repeat;}
.zixun2{background:url("../images/index3.png") -90px 0px no-repeat;}
.zixun3{background:url("../images/index3.png") -45px 0px no-repeat;}
.zixun4{background:url("../images/index3.png") 0px 0px no-repeat;}
.zixun5{background:url("../images/index3.png") 0px -48px no-repeat;}
.zixun{display:inline-block;width:45px;height:45px;float:left;}
.pic:hover .pic_cont{background:#00a9ea;}


.wzt1{color: #FFFFFF;text-align: center;font-size: 18px;padding-top:25px;padding-left:20px;}
.wzt2{color:#fff;padding:0px 20px;line-height:23px;}

