/* demo */
.demo { width:954px; position:relative;}
/* tabbtn */
.tabbtn { width:954px; height:34px; border-bottom:#bbb 1px solid;}
.tabbtn li { float:left; position:relative; margin-right:2px;}
.tabbtn li a { float:left; display:block; height:33px; line-height:33px; padding:0 40px; overflow:hidden; font-size:14px; color:#fff; cursor:pointer; background:#00a3cc; border:#008ed4 1px solid; border-bottom:none;}
.tabbtn li.current {}
.tabbtn li.current a {background:#C00; border:#990000 1px solid; border-bottom:none;}
/* tabcon */
.tabcon { position:relative; overflow:hidden; clear:both;}
.tabcon .subbox {position:absolute;/*必要元素*/	left:0;	top:0;}
.tabcon .sublist { width:952px; font-size:14px; border:#bbb 1px solid; border-top:none;}
.tabcon .sublist strong{ color:#333;}
.tabcon .sublist .sublist_1{ padding:12px 15px; font-size:12px; color:#666; line-height:180%; background:#fbfbfb;}
.tabcon .sublist .sublist_bd{ border-top:#bbb 1px solid;}
.tabcon .sublist .sublist_btrg{ border-bottom:#bbb 1px solid; border-right:#bbb 1px solid;}
.tabcon .sublist .sublist_bt{ border-bottom:#bbb 1px solid;}
.tabcon .sublist .sublist_rg{ border-right:#bbb 1px solid;}
/* leftcon */
#leftcon .subbox {width:9999em;}